<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><strong> Dashboard Page</strong></h1>
    <nav>
        <ul>
            <li><a href="{% url 'farmer_dashboard' %}">farmer-dashboard</a></li>
            <li><a href="{% url 'consumer_dashboard' %}">consumer-dashboard</a></li>
            <li><a href="{% url 'admin_dashboard' %}">admin_dashboard</a></li>
      
        </ul>
    </nav>
</body>
</html>
