<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Products</title>
</head>
<body>
    <h1>Browse Products Page</h1>
    <nav>
        <ul>
            <li><a href="{% url 'product_details_consumer' %}">Product Details</a></li>
            <li><a href="{% url 'add_to_cart' %}">Add to Cart</a></li>
            <li><a href="{% url 'checkout_consumer' %}">Checkout</a></li>
        </ul>
    </nav>
</body>
</html>
